<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Autumn Framework</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/layui_v2/css/layui.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script type="text/javascript" src="/static/layui_v2/layui.js"></script>
</head>
<body>
<div class="larry-wrapper">
    <div class="test">
        <h1>
            <em>温馨提示：</em>
            <span id="tit">403-unauthorized</span>
            <div class="animate three" id="animates">
                <span>-</span>
                <span>-</span>
                <span>-</span>
                <span>您</span>
                <span>没</span>
                <span>有</span>
                <span>权</span>
                <span>限</span>
                <span>访</span>
                <span>问</span>
                <span>当</span>
                <span>前</span>
                <span>页</span>
                <span>面</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </div>
        </h1>
        <p>---by 后台管理系统</p>
    </div>
</div>
<script type="text/javascript">
    layui.use('layer', function () {
        var layer = layui.layer;
        //示范一个公告层
        layer.open({
            type: 1
            ,title: false //不显示标题栏
            ,closeBtn: false
            ,area: '300px;'
            ,shade: 0.8
            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
            ,btn: ['火速围观', '残忍拒绝']
            ,btnAlign: 'c'
            ,moveType: 1 //拖拽模式，0或者1
            ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>'
            ,success: function(layero){
                var btn = layero.find('.layui-layer-btn');
                btn.find('.layui-layer-btn0').attr({
                    href: 'http://www.layui.com/'
                    ,target: '_blank'
                });
            }
        });
    })
</script>
</body>
</html>