<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:druid-pool.properties" ignore-unresolvable="true"/>
    <bean id = "dataSource" class = "com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method = "close">
        <!-- 数据库基本信息配置 -->
        <property name = "url" value = "${url}"/>
        <property name = "username" value = "${jdbc.username}"/>
        <property name = "password" value = "${password}"/>
        <property name = "driverClassName" value = "${driverClassName}"/>
        <property name = "connectionProperties" value = "${publicKey}"/>
        <property name = "filters" value = "${filters}"/>
        <!-- 最大并发连接数 -->
        <property name = "maxActive" value = "${maxActive}"/>
        <!-- 初始化连接数量 -->
        <property name = "initialSize" value = "${initialSize}"/>
        <!-- 配置获取连接等待超时的时间 -->
        <property name = "maxWait" value = "${maxWait}"/>
        <!-- 最小空闲连接数 -->
        <property name = "minIdle" value = "${minIdle}"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name = "timeBetweenEvictionRunsMillis" value ="${timeBetweenEvictionRunsMillis}"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name = "minEvictableIdleTimeMillis" value ="${minEvictableIdleTimeMillis}"/>
        <property name = "validationQuery" value = "${validationQuery}"/>
        <property name = "testWhileIdle" value = "${testWhileIdle}"/>
        <property name = "testOnBorrow" value = "${testOnBorrow}"/>
        <property name = "testOnReturn" value = "${testOnReturn}"/>
        <property name = "maxOpenPreparedStatements" value ="${maxOpenPreparedStatements}"/>
        <!-- 打开 removeAbandoned 功能 -->
        <property name = "removeAbandoned" value = "${removeAbandoned}"/>
        <!-- 1800 秒，也就是 30 分钟 -->
        <property name = "removeAbandonedTimeout" value ="${removeAbandonedTimeout}"/>
        <!-- 关闭 abanded 连接时输出错误日志 -->
        <property name = "logAbandoned" value = "${logAbandoned}"/>
    </bean>
</beans>