html,body{
	/*height: 100%;*/
	background: #F1F2F7;
	font-size: 14px;
	padding-right: 3px;
}
.larry-grid{
    display:block;
    width: calc(100% - 30px);
	width: -moz-calc(100%- 30px);
	width: -webkit-calc(100%- 30px);
    height: auto;
    margin: 0 auto;
    /*padding: 15px;*/
    background: #F1F2F7;
    border-radius: 5px;
}
/*加载动画*/
@-webkit-keyframes LarryLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px)
    }
    80% {
        -webkit-transform: translateX(-30px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}
@-moz-keyframes LarryLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(30px)
    }
    80% {
        -moz-transform: translateX(-30px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}
/*右*/
@-webkit-keyframes LarryRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px)
    }
    80% {
        -webkit-transform: translateX(30px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}
@-moz-keyframes LarryRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-30px)
    }
    80% {
        -moz-transform: translateX(30px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}


.label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.label-default {
    background-color: #777
}

.label-default[href]:focus, .label-default[href]:hover {
    background-color: #5e5e5e
}
.label-primary {
    background-color: #337ab7
}

.label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #286090
}

.label-success {
    background-color: #5cb85c
}

.label-success[href]:focus, .label-success[href]:hover {
    background-color: #449d44
}

.label-info {
    background-color: #5bc0de
}

.label-info[href]:focus, .label-info[href]:hover {
    background-color: #31b0d5
}

.label-warning {
    background-color: #f0ad4e
}

.label-warning[href]:focus, .label-warning[href]:hover {
    background-color: #ec971f
}

.label-danger {
    background-color: #d9534f
}

.label-danger[href]:focus, .label-danger[href]:hover {
    background-color: #c9302c
}