<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Autumn Framework</title>
    <link rel="shortcut icon" href="https://github.com/shuaijunlan/Autumn-Framework/raw/master/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="Lib/layui_v2.2.3/css/layui.css">
    <link rel="stylesheet" href="Sys/css/main.css"  media="all">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="index.do" style="font-size: 20px; color: #11af43;">Autumn Framework</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" id="top_menu">
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="username">
                    <img src="Sys/userimg/RCzsdCq.jpg" class="layui-nav-img" id="MenuManage1">
                    <!--Junlan Shuai-->
                </a>
                <dl class="layui-nav-child">
                    <dd><a>基本资料</a></dd>
                    <dd><a>安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="logout.do">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test" id="left_menu">
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body body_div"  id="body">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin: 0px;">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1" data-type="">数据统计</li>
            </ul>
            <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <div class="panel_box row" style="">
                        <div class="panel col">
                            <a href="javascript:;" >
                                <div class="panel_icon">
                                    <i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
                                </div>
                                <div class="panel_word newMessage">
                                    <span>0</span>
                                    <cite>待定</cite>
                                </div>
                            </a>
                        </div>
                        <div class="panel col">
                            <a href="javascript:;">
                                <div class="panel_icon" style="background-color:#FF5722;">
                                    <i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
                                </div>
                                <div class="panel_word userAll">
                                    <span>0</span>
                                    <cite>待定</cite>
                                </div>
                            </a>
                        </div>
                        <div class="panel col">
                            <a href="javascript:;" >
                                <div class="panel_icon" style="background-color:#009688;">
                                    <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
                                </div>
                                <div class="panel_word userAll">
                                    <span>0</span>
                                    <cite>待定</cite>
                                </div>
                            </a>
                        </div>
                        <div class="panel col">
                            <a href="javascript:;">
                                <div class="panel_icon" style="background-color:#5FB878;">
                                    <i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
                                </div>
                                <div class="panel_word imgAll">
                                    <span>0</span>
                                    <cite>待定</cite>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>图表</legend>
                </fieldset>
                <div class="layui-tab-item layui-show">
                    <div id="container" style="min-width: 250px; height: 300px; margin: 0 auto"></div>
                </div>
                <div class="layui-tab-item layui-show">
                    <div id="map" style="min-width: 310px; margin: 0 auto; max-width: 900px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © autumn.shuaijunlan.cn - 底部固定区域
    </div>
</div>
<script src="Lib/layui_v2.1.2/layui.js"></script>
<script src="Lib/jquery/jquery-3.2.1.min.js"></script>
<script src="BasePlu/Base.js"></script>
<script src="Sys/plugin/SysManage/main.js"></script>
<script src="Sys/plugin/SysManage/sys.js"></script>
<script src="Lib/Echarts-3.7.2/echarts.common.min.js"></script>
<script src="Lib/Highmaps/highmaps.js"></script>
<script src="Lib/Highmaps/china.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('container'));
        Fv.ajax.get("log/loginInfoCharts/", {}, function (data) {
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '系统访问量统计(近十天)'
                    },
                    tooltip: {},
                    legend: {
                        data:['访问次数']
                    },
                    xAxis: {
                        data: data.X
                    },
                    yAxis: {},
                    series: [{
                        name: '访问次数',
                        type: 'bar',
                        data: data.Y
                    }]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
            ,function () {
                layer.msg("数据加载失败!");
            }
        );

        Fv.ajax.get("log/loginInfoArea/", {}, function (data){
            // Create the chart
            Highcharts.mapChart('map', {
                chart: {
                    map: 'cn/china'
                },
                title: {
                    text: '系统访问量地域分布'
                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                colorAxis: {
                    min: 0,
                    minColor: '#c1c8ff',
                    maxColor: '#1e0aee',
                    labels:{
                        style:{
                            "color":"blue","fontWeight":"bold"
                        }
                    }
                },
                series: [{
                    data: data,
                    joinBy: 'name',
                    name: '访问量'
                }]
            });
        },function () {
            layer.msg("数据加载失败!");
        })
        }
    )
</script>
</body>
</html>