<!DOCTYPE html>
<html lang="zh" style="height:100%;">
    <head>
        <meta charset="utf-8" />
        <title>Autumn Blog</title>
        <link rel="stylesheet" href="Lib/layui_v2.2.3/css/layui.css" />

        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="Lib/Wiz.Editor.md-2.6/Editor.md/css/editormd.css" />
        <link rel="shortcut icon" href="https://github.com/shuaijunlan/Autumn-Framework/raw/master/favicon.ico" type="image/x-icon" />
        <script src="Lib/Wiz.Editor.md-2.6/Editor.md/examples/js/jquery.min.js"></script>
        <script src="Lib/Wiz.Editor.md-2.6/Editor.md/editormd.js"></script>
        <script src="Lib/Wiz.Editor.md-2.6/to-markdown/to-markdown.js"></script>
        <script src="md_editor_core.js"></script>

    </head>
    <body style="height:100%;">
        <div id="layout" style="height:100%; ">
            <div id="test-editormd" style="background-color: #f9f9f5 !important;">
                <!--<textarea style="display:none;"></textarea>-->
            </div>
        </div>
    </body>
    <script src="Lib/layui_v2.2.3/layui.js"></script>
    <script src="BasePlu/Base.js"></script>
    <script src="Sys/plugin/SysManage/sys.js"></script>

</html>
