<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Autumn Framework</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/layui_v2/css/layui.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script type="text/javascript" src="/static/layui_v2/layui.js"></script>
</head>
<body>
<script type="text/javascript">
    layui.use('layer', function () {
        var layer = layui.layer;
        //示范一个公告层
        layer.open({
            type: 1
            ,title: false //不显示标题栏
            ,closeBtn: false
            ,area: '300px;'
            ,shade: 0.8
            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
            ,btn: ['残忍离开']
            ,btnAlign: 'c'
            ,moveType: 1 //拖拽模式，0或者1
            ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">' +
            '403-unauthorized<br>您知道吗？亲！<br>' +
            '<br>很遗憾您没有此功能访问权限哦。<br>' +
            '<br>想获得此功能访问权限吗？<br>' +
            '<br>那就快快联系管理员吧！' +
            '<br>shuaijunlan(at)gmail.com</div>'
            ,success: function(layero){
                var btn = layero.find('.layui-layer-btn');
                btn.find('.layui-layer-btn0').attr({
                    href: 'http://autumn.shuaijunlan.cn'
//                    ,target: '_blank'
                });
            }
        });
    })
</script>
</body>
</html>