<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="spring-mybatis.xml"/>
    <import resource="spring-task.xml"/>
    <import resource="spring-mvc.xml"/>
    <import resource="classpath:spring-common/spring-mvc-common.xml"/>

</beans>