<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:properties-common/spring-email.properties" ignore-unresolvable="true"/>

    <bean id="webEmailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${email-web.host}"/>
        <property name="port" value="${email-web.port}"/>
        <property name="username" value="${email-web.username}"/>
        <property name="password" value="${email-web.password}"/>
        <property name="javaMailProperties">
            <props>
                <!--设置是否需要身份验证-->
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.port">${email-web.port}</prop>
            </props>
        </property>
    </bean>
    <bean id="smg" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="${email-web.from}"/>
        <property name="to" value="${email-web.to}"/>
    </bean>
    <context:component-scan base-package="com.autumnframework.common.architect.auth.email"/>
</beans>